aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
anyio
attrs
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
faiss-cpu
fastapi
filelock
folium
frozenlist
fsspec
gitdb
GitPython
h11
hf-xet
httpcore
httptools
httpx
huggingface_hub
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
narwhals
networkx
numpy
packaging
pandas
peft
pillow
propcache
protobuf
pyarrow
pydeck
Pygments
python-dateutil
python-dotenv
python-multipart
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
setuptools
shellingham
six
smmap
starlette
streamlit
streamlit-folium
sympy
tenacity
tokenizers
toml
torch
torchvision
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
xyzservices
yarl
